<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Discover</title>
    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./style1.css">
</head>

<body>
    <main>

        <div id=a lass="row">
            <div class="column">
                <form>
                    <label for="document">document</label><br>
                    <input type="text" name="doc" id="doc"><br>

                    <label for="email">email</label><br>
                    <input type="text" name="email" id="email"><br>

                    <label for="message">message</label><br>
                    <input type="text" name="message" id="message"><br>

                    <label for="name">name</label><br>
                    <input type="text" name="name" id="name"><br>

                    <label for="subject">subject</label><br>
                    <input type="text" name="subject" id="subject"><br>

                    <button id="send" class="btn waves-effect waves-light">add</button>
                    <button id="updateBtn" class="btn waves-effect waves-light">Update</button>
                    <button id="readBtn" class="btn waves-effect waves-light">Read</button>
                    <button id="removeBtn" class="btn waves-effect red darken-1">Remove</button>
                </form>
            </div>
            <div class="column">
                <form>
                    <h5> Document </h5>
                    <p id='log'> </p>
                    <h5>Result </h5>
                    <p id='result'> </p>
                    <table style="width:100%">
                        <tr>
                            <th>document</th>
                            <th>email</th>
                            <th>message</th>
                            <th>name</th>
                            <th>subject</th>
                        </tr>
                        <tr>
                            <td id='1'></td>
                            <td id='2'></td>
                            <td id='3'></td>
                            <td id='4'></td>
                            <td id='5'></td>
                        </tr>

                    </table>


                    <button id="refreshBtn" class="btn waves-effect red darken-1">refresh</button>
                </form>
            </div>
            <!-- <div class="column">
                <form>
                    <h3> Logger </h3>
                    <h5> Document </h5>
                    <p id='log'> </p>
                    <h5>Result </h5>
                    <p id='result'> </p>
                    <table style="width:100%">
                        <tr>
                            <th>document</th>
                            <th>email</th>
                            <th>message</th>
                            <th>name</th>
                            <th>subject</th>
                        </tr>
                        <tr>
                            <td id='1'></td>
                            <td id='2'></td>
                            <td id='3'></td>
                            <td id='4'></td>
                            <td id='5'></td>
                        </tr>

                    </table>


                    <button id="refreshBtn" class="btn waves-effect red darken-1">refresh</button>
                </form>
            </div> -->
        </div>
    </main>



































    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>
    <!-- Authen -->
    <script src="js/admin.js"></script>
    <script>
    </script>


</html>